@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style type="text/css">
    * {
        margin: 0px;
        padding: 0px;
    }

    .tabbox {
        margin: 10px;
    }

        .tabbox ul {
            list-style: none;
            display: table;
        }

            .tabbox ul li {
                float: left;
                width: 100px;
                line-height: 30px;
                padding-left: 8px;
                border: 1px solid #aaccff;
                margin-right: -1px;
                cursor: pointer;
            }

                .tabbox ul li.active {
                    background-color: #e73839;
                    color: white;
                    font-weight: bold;
                }

        .tabbox .content {
            border: 1px solid #aaccff;
            padding: 10px;
        }

            .tabbox .content > div {
                display: none;
            }

                .tabbox .content > div.active {
                    display: block;
                }
</style>

<div class="tabbox">
    <ul>
        <li class="active">看看你有多色</li>
        <li>消消看</li>
        <li>扫雷</li>
        <li>吃苹果</li>
    </ul>
    <div class="content">
        <div class="active">
            <div>
                <form id="form1">
                    <div class="mail-box">
                        <div class="mail-header">【看看你有多色】设定</div>
                        <div class="mail-body">
                            <table style="padding:10px; margin:10px;">
                                <tr>
                                    <td  style="text-align:right">游戏名称 </td>
                                    <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                        <input id="txtGameSeName" name="txtGameSeName" style="width:200px;" type="text"  placeholder="输入游戏名称" />
                                    </td>
                                </tr>
                                <tr>
                                    <td  style="text-align:right">LB积分兑换规则 :</td>
                                    <td  nowrap="nowrap"  style="margin:10px;padding:10px;">
                                        1个LB积分等于<input id="txtGameSeScoreForLB" name="txtGameSeScoreForLB" style="width:50px;" type="text" placeholder="输入游戏积分" />游戏积分
                                    </td>
                                </tr>
                                <tr>
                                    <td  style="text-align:right">LoveBird积分兑换规则 :</td>
                                    <td nowrap="nowrap"  style="margin:10px;padding:10px;">
                                            1个LoveBird积分等于 <input id="txtGameSeScoreForLoveBird" name="txtGameSeScoreForLoveBird" style="width:50px;" type="text" placeholder="输入游戏积分" />游戏积分
                                    </td>
                                </tr>
                                <tr>
                                    <td  style="text-align:right" >最低入场的LB积分数量 :</td>
                                    <td nowrap="nowrap"  style="margin:10px;padding:10px;">
                                       <input id="txtLowestPlayLBForSe" name="txtLowestPlayLBForSe" style="width:200px;" type="text" placeholder="输入最低入场的LB积分数量" />
                                    </td>
                                </tr>
                                <tr>
                                    <td  style="text-align:right">最低入场的LoveBird积分数量 :</td>
                                    <td nowrap="nowrap"  style="margin:10px;padding:10px;">
                                        <input id="txtLowestPlayLoveBirdForSe" name="txtLowestPlayLoveBirdForSe" style="width:200px;" type="text" placeholder="输入最低入场的LoveBird积分数量" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right">税收 :</td>
                                    <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                       百分之<input id="txtGameSeTax" name="txtGameSeTax" style="width:200px;" type="text" placeholder="输入税收比例" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right">游戏模式 :</td>
                                    <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                        <input type="radio" id="txtGameModeForSe1" name="txtGameModeForSe" checked="checked" disabled="disabled" />根据玩家历史最高分来定输赢
                                        <input type="radio" id="txtGameModeForSe2" name="txtGameModeForSe"  disabled="disabled" />根据预定的分数级别来定输赢
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right">扣分模式 :</td>
                                    <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                        <input type="radio" id="txtExchangeForSe1" name="txtExchangeForSe1" checked="checked" disabled="disabled" />得分比例进行兑换
                                        <input type="radio" id="txtExchangeForSe2" name="txtExchangeForSe2" disabled="disabled" />按预定分数进行兑换
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right">模式说明 :</td>
                                    <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                            模式A：根据玩家历史最高分来定输赢<br />
                                            1：玩家首次玩肯定是赢，游戏得多少分就按既定比例赠送LB/LoveBird积分.<br />
                                            2: 后续每次玩得的分数，都跟自己历史最高分相比，高于等于最高分视为赢，则按既定比例赠送LB/Love Birdji积分。如果低于最高分，视为输，则按既定比例扣除LB/Love Birdji积分.
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="mail-body" style="text-align: left;">
                            <a href="javascript:void()" onclick="submitSeForm()" class="btn btn-primary" style="margin-right: 5px;"><i class="fa fa-reply"></i>保存设置</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <div>
                <form id="form2">
                    <div class="mail-box">
                        <div class="mail-header">【消消看】设定</div>
                        <div class="mail-body">
                            <table style="padding:10px; margin:10px;">
                                <tr>
                                    <td style="text-align:right">游戏名称 </td>
                                    <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                        <input id="txtGameXXKName" name="txtGameXXKName" style="width:200px;" type="text" placeholder="输入游戏名称" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right">LB积分兑换规则 :</td>
                                    <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                        1个LB积分等于<input id="txtGameXXKScoreForLB" name="txtGameXXKScoreForLB" style="width:50px;" type="text" placeholder="输入游戏积分" />游戏积分
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right">LoveBird积分兑换规则 :</td>
                                    <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                        1个LoveBird积分等于 <input id="txtGameXXKScoreForLoveBird" name="txtGameXXKScoreForLoveBird" style="width:50px;" type="text" placeholder="输入游戏积分" />游戏积分
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right">最低入场的LB积分数量 :</td>
                                    <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                        <input id="txtLowestPlayLBForXXK" name="txtLowestPlayLBForXXK" style="width:200px;" type="text" placeholder="输入最低入场的LB积分数量" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right">最低入场的LoveBird积分数量 :</td>
                                    <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                        <input id="txtLowestPlayLoveBirdForXXK" name="txtLowestPlayLoveBirdForXXK" style="width:200px;" type="text" placeholder="输入最低入场的LoveBird积分数量" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right">税收 :</td>
                                    <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                        百分之<input id="txtGameXXKTax" name="txtGameXXKTax" style="width:200px;" type="text" placeholder="输入税收比例" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right">游戏模式 :</td>
                                    <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                        <input type="radio" id="txtGameModeForXXK1" name="txtGameModeForXXK" checked="checked" disabled="disabled" />根据玩家历史最高分来定输赢
                                        <input type="radio" id="txtGameModeForXXK2" name="txtGameModeForXXK" disabled="disabled" />根据预定的分数级别来定输赢
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right">扣分模式 :</td>
                                    <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                        <input type="radio" id="txtExchangeForXXK1" name="txtExchangeForXXK" checked="checked" disabled="disabled" />得分比例进行兑换
                                        <input type="radio" id="txtExchangeForXXK2" name="txtExchangeForXXK" disabled="disabled" />按预定分数进行兑换
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right">模式说明 :</td>
                                    <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                        模式A：根据玩家历史最高分来定输赢<br />
                                        1：玩家首次玩肯定是赢，游戏得多少分就按既定比例赠送LB/LoveBird积分.<br />
                                        2: 后续每次玩得的分数，都跟自己历史最高分相比，高于等于最高分视为赢，则按既定比例赠送LB/Love Birdji积分。如果低于最高分，视为输，则按既定比例扣除LB/Love Birdji积分.
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="mail-body" style="text-align: left;">
                            <a href="javascript:void()" onclick="submitXXKForm()" class="btn btn-primary" style="margin-right: 5px;"><i class="fa fa-reply"></i>保存设置</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div>
            <form id="form3">
                <div class="mail-box">
                    <div class="mail-header">【扫雷】设定</div>
                    <div class="mail-body">
                        <table style="padding:10px; margin:10px;">
                            <tr>
                                <td style="text-align:right">游戏名称 </td>
                                <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                    <input id="txtGameSaoLeiName" name="txtGameSaoLeiName" style="width:200px;" type="text" placeholder="输入游戏名称" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right">扣分规则</td>
                                <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                 游戏输了扣除积分数量<input id="txtSaoLeiLostScore" name="txtSaoLeiLostScore" style="width:100px;" type="text" placeholder="积分数量" />个
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right">规则设定1</td>
                                <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                   在<input id="txtSaoleiRuleTimes1" name="txtSaoleiRuleTimes1" style="width:100px;" type="text" placeholder="输入秒数" />秒内赢了得
                                    <input id="txtSaoleiRuleScore1" name="txtSaoleiRuleScore1" style="width:100px;" type="text" placeholder="赢得积分" />个积分
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right">规则设定2</td>
                                <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                    在<input id="txtSaoleiRuleTimes2" name="txtSaoleiRuleTimes2" style="width:100px;" type="text" placeholder="输入秒数" />秒内赢了得
                                    <input id="txtSaoleiRuleScore2" name="txtSaoleiRuleScore2" style="width:100px;" type="text" placeholder="赢得积分" />个积分
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right">规则设定3</td>
                                <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                    在<input id="txtSaoleiRuleTimes3" name="txtSaoleiRuleTimes3" style="width:100px;" type="text" placeholder="输入秒数" />秒内赢了得
                                    <input id="txtSaoleiRuleScore3" name="txtSaoleiRuleScore3" style="width:100px;" type="text" placeholder="赢得积分" />个积分
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right">最低入场的LB积分数量 :</td>
                                <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                    <input id="txtLowestPlayLBForSL" name="txtLowestPlayLBForSL" style="width:200px;" type="text" placeholder="输入最低入场的LB积分数量" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right">最低入场的LoveBird积分数量 :</td>
                                <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                    <input id="txtLowestPlayLoveBirdForSL" name="txtLowestPlayLoveBirdForSL" style="width:200px;" type="text" placeholder="输入最低入场的LoveBird积分数量" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right">税收 :</td>
                                <td nowrap="nowrap" style="margin:10px;padding:10px;">
                                    百分之<input id="txtGameSLTax" name="txtGameSLTax" style="width:200px;" type="text" placeholder="输入税收比例" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="mail-body" style="text-align: left;">
                        <a href="javascript:void()" onclick="submitSaoLeiForm()" class="btn btn-primary" style="margin-right: 5px;"><i class="fa fa-reply"></i>保存设置</a>
                    </div>
                </div>
            </form>
        </div>
        <div>44444444</div>
    </div>
</div>

<script type="text/javascript">

    function submitSaoLeiForm() {

        $.ajax({
            url: "/GameList/SaveSLSetting", //你的路由地址
            type: "post",
            dataType: "text",
            data: $("#form3").serialize(),
            timeout: 30000,
            success: function (data) {
                if (data == "yes") {
                    alert("保存成功");
                } else {
                    alert("保存失败");
                }
            },
            error: function () {
                alert("发生不可预计错误，请重新尝试");
            }
        });

    }

    function submitXXKForm() {

        $.ajax({
            url: "/GameList/SaveXXKSetting", //你的路由地址
            type: "post",
            dataType: "text",
            data: $("#form2").serialize(),
            timeout: 30000,
            success: function (data) {
                if (data == "yes") {
                    alert("保存成功");
                } else {
                    alert("保存失败");
                }
            },
            error: function () {
                alert("发生不可预计错误，请重新尝试");
            }
        });

    }

    function submitSeForm() {

        $.ajax({
            url: "/GameList/SaveSeSetting", //你的路由地址
            type: "post",
            dataType: "text",
            data: $("#form1").serialize(),
            timeout: 30000,
            success: function (data) {
                if (data == "yes") {
                    alert("保存成功");
                } else {
                    alert("保存失败");
                }
            },
            error: function () {
                alert("发生不可预计错误，请重新尝试");
            }
        });

    }



    $(function () {
        $(".tabbox li").click(function () {
            //获取点击的元素给其添加样式，讲其兄弟元素的样式移除
            $(this).addClass("active").siblings().removeClass("active");
            //获取选中元素的下标
            var index = $(this).index();
            $(this).parent().siblings().children().eq(index).addClass("active")
            .siblings().removeClass("active");
        });

        //看看你有多色显示
        $("#txtGameSeName").val('@ViewBag.GameName');
        $("#txtGameSeScoreForLB").val('@ViewBag.LBRatio');
        $("#txtGameSeScoreForLoveBird").val('@ViewBag.LoveBirdRatio');
        $("#txtLowestPlayLBForSe").val('@ViewBag.LowestPlayLB');
        $("#txtLowestPlayLoveBirdForSe").val('@ViewBag.LowestPlayLoveBird');
        $("#txtGameSeTax").val('@ViewBag.SeTax');

        //消消看显示
        $("#txtGameXXKName").val('@ViewBag.XXKGameName');
        $("#txtGameXXKScoreForLB").val('@ViewBag.XXKLBRatio');
        $("#txtGameXXKScoreForLoveBird").val('@ViewBag.XXKLoveBirdRatio');
        $("#txtLowestPlayLBForXXK").val('@ViewBag.XXKLowestPlayLB');
        $("#txtLowestPlayLoveBirdForXXK").val('@ViewBag.XXKLowestPlayLoveBird');
        $("#txtGameXXKTax").val('@ViewBag.XXKTax');

        //扫雷显示
        $("#txtGameSaoLeiName").val('@ViewBag.txtGameSaoLeiName');
        $("#txtSaoLeiLostScore").val('@ViewBag.txtSaoLeiLostScore');
        $("#txtSaoleiRuleTimes1").val('@ViewBag.txtSaoleiRuleTimes1');
        $("#txtSaoleiRuleScore1").val('@ViewBag.txtSaoleiRuleScore1');
        $("#txtSaoleiRuleTimes2").val('@ViewBag.txtSaoleiRuleTimes2');
        $("#txtSaoleiRuleScore2").val('@ViewBag.txtSaoleiRuleScore2');
        $("#txtSaoleiRuleTimes3").val('@ViewBag.txtSaoleiRuleTimes3');
        $("#txtSaoleiRuleScore3").val('@ViewBag.txtSaoleiRuleScore3');
        $("#txtLowestPlayLBForSL").val('@ViewBag.txtLowestPlayLBForSL');
        $("#txtLowestPlayLoveBirdForSL").val('@ViewBag.txtLowestPlayLoveBirdForSL');
        $("#txtGameSLTax").val('@ViewBag.txtGameSLTax');
    });

</script>